* {
	box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Navigation Bar */

h1 {
	text-align: right;
}

nav#header-nav {
	background-color: gray;
	min-height: 60px;
	border: 1px solid black;
}

a#name-brand.navbar-brand {
	font-size: 2em;
	color: black;
	font-weight: bold;
}

p#page-heading {
	font-weight: 800;
}

#collapsable-nav a {
	color: black;
	text-align: center;
	background-color: white;
	border: 1px solid black;
	font-size: 1.2em;
	font-weight: 700;
}

ul.nav.navbar-nav.navbar-right {
	margin: 0px -15px 0px -15px;
	border: 1px solid black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}

/* End of Navigation Bar */

/* Footer */
#git:hover {
	background-color: black;
	color: white;
	padding: 2px;
}

#face:hover {
	background-color: cornflowerblue;
	color: white;
	padding: 2px;
}

img {
	width: 22px;
	height: 22px;
}
/* End of Footer */

/* Page Heading */
#page-heading {
	margin-bottom: 25px;
}
/* End of Page Heading */

/* Main Content */
.row div.content-box {
	position: relative;
	color: black;
	font-weight: 500;
	font-size: 1.2em;
	margin-bottom: 20px;
}
 
div.menu-title {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 5px;
}

div.content {
	padding: 10px;
	background-color: gray;
	border: 2px solid black;
}

a > span {
	text-decoration: underline;
	color: darkblue;
}

a > span:hover {
	background-color: blueviolet;
	border: 1px solid black;
}

